header {
  background-color: #9bcdc7;
  padding: 1vw ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre légère */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100 vw;
  margin: 0 auto;
}

h1 {
  margin: 0;
  /* Supprime la marge par défaut des titres */
  font-size: 1.5em;
  /* Taille de police optionnelle */
}

nav a {
  margin-left: 20px;
  /* Espace entre les liens de navigation */
  text-decoration: none;
  /* Supprime le soulignement des liens */
  color: #333;
  /* Couleur des liens */
  font-weight: 500;
  /* Poids de la police */
}

nav a:hover {
  color: #007bff;
  /* Couleur des liens au survol */
}
