/* Styles généraux pour le formulaire */
h3{
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style des divisions contenant les champs */
form div {
  margin-bottom: 15px;
}

/* Style des étiquettes */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Style des champs de saisie */
input, select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Style des champs de saisie au focus */
input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style du bouton de soumission */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Style du bouton de soumission au survol */
button:hover {
  background-color: #0056b3;
}

/* Style du bouton de soumission désactivé */
button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
